<div>
    <md-content>
        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
            <md-toolbar class="md-tall">
                <h1 class="md-toolbar-tools">
                <span>Welcome to the GAUNTLET</span>
                </h1>
            </md-toolbar>
            <h2><strong>{{chosen}}</strong></h2>

        </section>
    <md-content>
</div>

<!-- Side nav for weapons is below (needs work to get to show on partial load) -->

<!-- <div layout="column" style="height: 500px;" ng-show>
    <section layout="row" flex>
        <md-sidenav class="md-sidenav-left" md-component-id="left"
        md-disable-backdrop md-whiteframe="4">
            <md-toolbar class="md-theme-indigo">
                <h1 class="md-toolbar-tools">Weapons</h1>
            </md-toolbar>
            <md-content layout-margin>
                <md-card>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-subhead">Choose wisely if you want to win.</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <div layout="row" layout-align="space-between center">
                            <md-select ng-model="weapon" placeholder="Select Weapon" class="md-no-underline">
                                <md-option value="Weapon 1" ng-click="">Weapon 1</md-option>
                                <md-option value="Weapon 2" ng-click="">Weapon 2</md-option>
                                <md-option value="Weapon 3" ng-click="">Weapon 3</md-option>
                            </md-select>
                        </div>
                    </md-card-content>
                </md-card>
                <a ng-href=""><md-button ng-click="toggleLeft()" class="md-accent">Get Ready For Battle</md-button></a>
            </md-content>
        </md-sidenav>
    </section>
</div> -->



